/* Add styles for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #0060ef;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  header h1 {
    margin: 0;
  }

/* Add styles for search bar and button */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .search-container label {
    font-size: 20px;
    font-weight: bold;
  }
  
  .search-container input[type="text"] {
    font-size: 20px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #0060ef
    ;
  }
  
  .search-container button[type="submit"] {
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #0060ef
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* Add styles for current weather section */
#current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#current-weather img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

#current-weather p {
  font-size: 20px;
  margin: 5px 0;
}

/* TODO: Add styles for forecast section */
#forecast {
  
}

/* TODO: Add media queries for responsive design */
@media only screen and (max-width: 768px) {
  
}
